[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymongo = "*"
mongo-id-marshaller = "*"

[requires]
python_version = "3.10"
